<!DOCTYPE html>
<html lang="en" ng-app="ImanipApp">

<head>
	<title>Imanip</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
	<script src="/static/js/imanip.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>
</head>

<body>

	<header>
		<h1>Image Manipulator</h1>
	</header>

	<div ng-view>
		
	</div>
</body>

</html>